@import "../../../styles/variable.scss";

.container {
    @extend %container;
    // max-width: none;
    display: flex;
    justify-content: space-between;
}

.left {
    padding: 96px 0;
    max-width: 50%;

    h2 {
        font-weight: 900;
        font-size: 3.3333rem;
    }

    h6 {
        padding: 16px 0;
        font-weight: 200;
        font-size: 1.25rem;
        color: #718096;
    }
}

.right {
    // background-color: blue;
    width: 50%;
    position: relative;

    >div {
        width: 50vw;
        height: 100%;
        position: absolute;
        overflow: hidden;
        clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes jss145 {
    0% {
        transform: rotate(-13deg) translateY(-25%);
    }

    100% {
        transform: rotate(-13deg) translateY(-80%);
    }
}

.image__cover {
    top: -25%;
    left: -100%;
    width: 600%;
    height: 600%;
    position: absolute;
    animation: jss145 100s linear infinite;
    background: url(https://assets.maccarianagency.com/the-front/web-screens/home/home-hero-bg-light.png);
    background-size: 600px auto;
    background-color: #e8eaf6;
    background-repeat: repeat;
    background-attachment: scroll;
}

.area__button {
    padding: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    a {
        margin-left: 8px;
    }

    a:nth-child(1) {
        margin-left: 0;
    }
}