*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

.page__content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.hrDivider {
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.12);
}

@media (max-width: 930px) {

  .page__content {
    margin-left: 15px;
    margin-right: 15px;
  }
}